body{
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 20px;
}
.horizontal-list{
  padding-left :0px;
  list-style:none;
  margin : 0px;
}
.horizontal-list li{
  display: inline-block;
  margin : 0px 8px 8px 0px;
}
.horizontal-list li a{
  color: #66BFBF;
  text-decoration: none;
}
.text-center{
  text-align : center;
}
.nav-menu li a{
  transition: color 0.5s , border-bottom 4s;
}
.nav-menu li a:hover{
  color :rgb(19, 1, 1);
  border-bottom: 1px solid white;
}
.top-container{
  display: inline-block;
  background-color:#EAF6F6;
  height:50%;
  width: 100%;
}
.cloud2{
  position:absolute;
  top:220px;
  left:300px;
}
#cloud1{
  position: absolute;
  right:400px;
  top:50px;

}
h1{
  top:50px;
  position: relative;
  font-family: 'Sacramento', cursive;
  font-size: 60px;
  color: #66BFBF;
}
.para{
  margin-top:150px;
  font-size: 30px;
  color: #66BFBF;
}

#skills{
}

#my{
  height: 130px;
    width: 130px;
    border-radius : 50%;
    margin-top: 25px;
}


h3{
   color:#11999E;
   font-family: 'Montserrat', sans-serif;
}
a{
   color:#11999E;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color:black;
}
.skill-row{
  width:50%;
  margin:30px auto 100px auto;
  text-align:left;
  line-height: 2;
}

.chillies{
  width:25%;
}
hr{
  width: 20%;
  margin-top:10px;
border-top: 5px dotted grey;

}

#bottom-container{
  background-color: #66BFBF;
  margin:10px;
  padding:20px;



}

.footer-link{
  margin:20px;
  padding:40px;
  text-decoration: none;
  color: black;


}

#s{
  margin-top:60px;
}

.btn{
  border: solid black 5px;
  background-color: black;
  border-radius: 10px;
  text-decoration: none;
  margin-bottom:30px;
}
